{
    "all": true,
    "instrument": true,
    "sourceMap": true,
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "src/**/*.d.ts",
      "node_modules",
      "lib",
      "test"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html"
    ]
  }